.hidden {
    display:none;
}

#imageSlider {
    display:block;
}

#app, #images, #imageSection {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#bearthdayBanner {
    margin-bottom:5px;
}

#imageSection {
    margin-top:20px;
}

#queryForm {
    display:inline;
}